::selection {
    background-color: #500000; /* dark mode background */
    color: #DBC6A5;
}

::-moz-selection {
    background-color: #500000;
    color: #DBC6A5;
}

.dark ::selection {
    background-color: #DBC6A5; /* light mode background */
    color: #500000;
}

.dark ::-moz-selection {
    background-color: #DBC6A5;
    color: #500000;
}

.app {
	height: 100vh;
  width: 100vw;

  cursor: url(cursors/neo-nyan-cursor.png), auto;
}

.app button {
  cursor: url(cursors/neo-nyan-pointer.png), auto;
}

#pcb-background {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    opacity: 0.38;
}
nav,
header,
section {
    position: relative;
    z-index: 1;
}

#lidar-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 600px;
    pointer-events: none;
    z-index: 2;
}

header {
    position: relative;
    overflow: hidden;
}