::selection {
    background-color: #500000; /* dark mode background */
    color: #DBC6A5;
}

::-moz-selection {
    background-color: #500000;
    color: #DBC6A5;
}

.dark ::selection {
    background-color: #DBC6A5; /* light mode background */
    color: #500000;
}

.dark ::-moz-selection {
    background-color: #DBC6A5;
    color: #500000;
}

.app {
	height: 100vh;
  width: 100vw;

  cursor: url(cursors/neo-nyan-cursor.png), auto;
}

.app button {
  cursor: url(cursors/neo-nyan-pointer.png), auto;
}
