/* Light mode */
::selection {
    background-color: #500000; /* dark mode background */
    color: #DBC6A5;
}

::-moz-selection {
    background-color: #500000;
    color: #DBC6A5;
}

/* Dark mode */
.dark ::selection {
    background-color: #DBC6A5; /* light mode background */
    color: #500000;
}

.dark ::-moz-selection {
    background-color: #DBC6A5;
    color: #500000;
}
